.footer {
    background-color: hsl(207, 100%, 42%);
    width: 100%;
    text-align: center;
    margin: auto auto 0;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 600;
    color: hsl(52, 100%, 50%);
}