html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Quicksand', sans-serif;
    background-image: url("../images/man-installing-laminate-floor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}